.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
  backdrop-filter: blur(2px);
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
  font-weight: 500;
}