.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 0;
  opacity: 0.6;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 200ms ease,
    transform 200ms ease;
  cursor: pointer;
  outline: none;
  background-color: #aa1e1e; /* Make sure it matches input bg */
  border-radius: 30px 20px 20px 300px;
  color: #ffffff; /* Icon color simulation */
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px;
  width: auto;
}

.button:hover {
  opacity: 1;
  font-size: 15px;
  transform: translateY(0px);
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 4px;
  color: #000;
}

.input::placeholder {
  font: inherit;
  font-size: 18px;
  color: #aaa; 
}
